@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Roman.woff");
  font-weight: 400;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff");
  font-weight: 700;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}

.e-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0 0 0;
  border-bottom: 1px solid #c4c4c4;
  background: #ffffff;
  &__logo {
    display: block;
    img,
    svg {
      display: block;
      max-width: 180px;
      max-height: 95px;
    }
    &-text {
      display: block;
      margin: 0;
      font-weight: 550;
      font-size: 7px;
      line-height: 18px;
      text-transform: uppercase;
      color: #202020;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e2211c;
      text-decoration: none;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 15px;
  }
  &__info {
    display: inline-flex;
    align-items: center;
    margin: 0 10px 0 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: #54565a;
    img,
    svg {
      display: inline-block;
      max-width: 18px;
      max-height: 18px;
      margin-right: 3px;
    }
    a {
      color: #54565a;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e2211c;
        text-decoration: none;
      }
    }
  }
  &__link {
    display: inline-block;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: #e2211c;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e2211c;
      text-decoration: none;
    }
  }
  &__phone {
    display: inline-block;
    margin: 0 0 0 30px;
    font-weight: 550;
    font-size: 18px;
    line-height: 16px;
    text-transform: uppercase;
    color: #202020;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e2211c;
      text-decoration: none;
    }
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid #c4c4c4;
    list-style: none;
    &_active {
      & > a {
        font-weight: 700;
        &:after {
          display: block;
          position: absolute;
          content: "";
          bottom: 22px;
          left: 0;
          width: 100%;
          height: 3px;
          background: #e2211c;
        }
      }
    }
    & > li {
      display: inline-block;
      position: relative;
      ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 246px;
        margin: 0;
        padding: 0;
        list-style: none;
        background: #ffffff;
        border: 1px solid #c4c4c4;
        border-top: 0;
        z-index: 20;
        & > li {
          display: block;
          width: 100%;
          & > a {
            display: block;
            position: relative;
            width: 100%;
            padding: 20px 18px 15px 18px;
            border-top: 1px solid #c4c4c4;
            font-size: 18px;
            line-height: 16px;
            color: #202020;
            cursor: pointer;
            text-decoration: none;
            transition: all 0.2s ease-out;
            &:hover {
              background: #f4f4f4;
              color: #202020;
              /* font-weight: 700; */
              text-decoration: none;
            }
          }
        }
      }
      & > a {
        display: inline-block;
        position: relative;
        padding: 32px 0;
        font-size: 20px;
        line-height: 16px;
        color: #202020;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #e2211c;
          text-decoration: none;
        }
      }
    }
    li:hover {
      & > a {
        color: #e2211c;
      }
      & > ul {
        display: block;
      }
    }
  }
}

.e-home-top {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0 450px 0;
  background: url("../images/home_top.jpg") no-repeat left calc(50% + 0px) bottom;
  background-size: cover;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    min-height: 600px;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 600px;
    }
    &__title {
      display: block;
      max-height: 195px;
      overflow: hidden;
      margin: 70px 0 22px 0;
      font-weight: bold;
      font-size: 42px;
      line-height: 65px;
      text-transform: uppercase;
      color: #141414;
    }
    &__text {
      display: block;
      height: 90px;
      overflow: hidden;
      margin: 0;
      font-size: 25px;
      line-height: 30px;
      color: #141414;
    }
    &__button {
      display: inline-block;
      margin: 10px 0 0 0;
      padding: 19px 68px;
      background: #e2211c;
      font-size: 18px;
      line-height: 18px;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #930400;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    bottom: 0;
    width: 76px;
    height: 76px;
    background: url("../images/swiper_bg.png") no-repeat center center;
    background-size: contain;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background: url("../images/swiper_bg_hower.png") no-repeat center center;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: auto;
    right: 64px;
  }
  .swiper-button-next {
    right: 0;
  }
}

.e-home-what {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: -605px;
  padding: 70px 0;
  background: url("../images/home_features_svg_bg.svg") no-repeat center top;
  background-size: cover;
  pointer-events: none;
  z-index: 1;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    padding: 30px 0 22px 50px;
    background: url("../images/home_what_bg.png") no-repeat 0 0;
    &__image {
      display: block;
      max-width: 45px;
      max-height: 45px;
    }
    &__title {
      display: block;
      margin: 14px 0 0 0;
      font-weight: 400;
      font-size: 22px;
      line-height: 25px;
      color: #ffffff;
    }
    &_margin {
      margin-top: 100px;
    }
  }
}

.e-home-features {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 0 0;
  pointer-events: all !important;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 70px 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;
    text-transform: uppercase;
    color: #ffffff;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 100vw;
      height: 1px;
      left: 0;
      bottom: -7px;
      background: #c4c4c4;
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 224px;
      height: 4px;
      left: 0;
      bottom: -10px;
      background: #ffffff;
      z-index: 2;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto 30px auto;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      min-height: 270px;
      padding: 40px 35px;
      background: rgba(0, 0, 0, 0.4);
      font-weight: bold;
      font-size: 25px;
      line-height: 28px;
      text-transform: uppercase;
      color: #ffffff;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .e-home-features-card__content {
        background: rgba(226, 33, 28, 0.7) url("../images/home_features_bg.png") no-repeat left 15px top 50px !important;
      }
      text-decoration: none;
    }
  }
}

.e-home-our {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -60px;
  padding: 160px 0;
  background: url("../images/home_our_bg_svg.svg") no-repeat center top;
  background-size: cover;
  z-index: 3;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 70px 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;
    text-transform: uppercase;
    color: #202020;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 622px;
      height: 1px;
      left: 50%;
      bottom: -7px;
      margin-left: -311px;
      background: #202020;
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 224px;
      height: 4px;
      left: 50%;
      bottom: -10px;
      margin-left: -112px;
      background: #202020;
      z-index: 2;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto 30px auto;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      min-height: 500px;
      padding: 40px;
      background: rgba(0, 0, 0, 0.4);
      transition: all 0.2s ease-out;
    }
    &__subtitle {
      display: block;
      margin: 0 0 20px 0;
      font-weight: bold;
      font-size: 25px;
      line-height: 28px;
      text-transform: uppercase;
      color: #ffffff;
    }
    &__title {
      display: block;
      margin: 0;
      font-weight: bold;
      font-size: 40px;
      line-height: 28px;
      text-transform: uppercase;
      color: #ffffff;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .e-home-our-card__content {
        background: rgba(226, 33, 28, 0.7) url("../images/home_features_bg.png") no-repeat left 20px bottom !important;
      }
      text-decoration: none;
    }
  }
}

.e-home-why {
  display: block;
  position: relative;
  padding: 90px 0 50px 0;
  &-card {
    display: block;
    width: 100%;
    max-width: 570px;
    margin: 0 0 70px 0;
    &__image {
      display: block;
      max-width: 100px;
      max-height: 100px;
    }
    &__title {
      display: block;
      margin: 0;
      padding-left: 20px;
      font-weight: 550;
      font-size: 20px;
      line-height: 28px;
      color: #202020;
    }
    &__text {
      display: block;
      margin: 20px 0 0 0;
      padding-left: 20px;
      font-size: 18px;
      line-height: 24px;
      color: rgba(32, 32, 32, 0.8);
    }
  }
}

.e-home-about {
  display: block;
  position: relative;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    padding: 12px;
    border: 1px solid #202020;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 400px;
      background-position: center center;
      background-size: cover;
      img,
      svg {
        display: block;
        max-width: 101px;
        max-height: 101px;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        transform: scale(0.95);
      }
      text-decoration: none;
    }
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    padding: 0 0 12px 0;
    border-bottom: 1px solid #54565a;
    font-weight: bold;
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
    color: #202020;
  }
  &__text {
    display: block;
    margin: 0 0 45px 0;
    font-size: 18px;
    line-height: 27px;
    color: #202020;
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 19px 38px;
    background: #2d2d2d;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #930400;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.e-home-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 105px 0 85px 0;
  background: #202020;
  .container {
    position: relative;
  }
  &__image {
    display: block;
    position: absolute;
    right: -70px;
    top: -175px;
    pointer-events: none;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 11px 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -20px;
      left: 0;
      width: 225px;
      height: 4px;
      background: #ffffff;
    }
  }
  &__text {
    display: block;
    margin: 0 0 25px 0;
    font-size: 18px;
    line-height: 25px;
    color: #c4c4c4;
  }
  ::placeholder {
    color: #54565a;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 20px 17px 8px 20px;
    background: rgba(45, 45, 45, 0.4);
    border: 1px solid #ffffff;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 25px 0 0 0;
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 19px 80px;
    border: 0;
    outline: none;
    background: #ffffff;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #202020;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #930400;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 11px;
    line-height: 15px;
    color: rgba(84, 86, 90, 0.4);
  }
}

.e-home-company {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 50px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;
    text-transform: uppercase;
    color: #202020;
    &_page {
      font-size: 30px;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -7px;
      background: #202020;
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 224px;
      height: 4px;
      left: 0;
      bottom: -10px;
      background: #202020;
      z-index: 2;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 220px;
    margin: 80px auto 0 auto;
    img,
    svg {
      display: block;
      max-width: 220px;
      max-height: 220px;
    }
  }
}

.e-home-reviews {
  display: block;
  position: relative;
  padding: 50px 0 0 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 70px 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;
    text-transform: uppercase;
    color: #202020;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 622px;
      height: 1px;
      left: 50%;
      bottom: -7px;
      margin-left: -311px;
      background: #202020;
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 224px;
      height: 4px;
      left: 50%;
      bottom: -10px;
      margin-left: -112px;
      background: #202020;
      z-index: 2;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    border: 2px solid #2d2d2d;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 345px;
      opacity: 0;
      background: rgba(226, 33, 28, 0.8);
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 72px;
        max-height: 72px;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .e-home-reviews-card__content {
        opacity: 1;
      }
      border-color: rgba(226, 33, 28, 1);
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    bottom: 0;
    width: 76px;
    height: 76px;
    background: url("../images/swiper_bg.png") no-repeat center center;
    background-size: contain;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background: url("../images/swiper_bg_hower.png") no-repeat center center;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: auto;
    right: 64px;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-pagination {
    bottom: 50px;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 17px !important;
    background: #202020;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    transform: scale(1.1);
    background: #e2211c;
  }
}

.e-home-papers {
  display: block;
  position: relative;
  padding: 50px 0 0 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 70px 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 70px;
    text-transform: uppercase;
    color: #202020;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 622px;
      height: 1px;
      left: 50%;
      bottom: -7px;
      margin-left: -311px;
      background: #202020;
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 224px;
      height: 4px;
      left: 50%;
      bottom: -10px;
      margin-left: -112px;
      background: #202020;
      z-index: 2;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 170px;
    border: 2px solid #2d2d2d;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 245px;
      opacity: 0;
      background: rgba(226, 33, 28, 0.8);
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 72px;
        max-height: 72px;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .e-home-papers-card__content {
        opacity: 1;
      }
      border-color: rgba(226, 33, 28, 1);
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    bottom: 0;
    width: 76px;
    height: 76px;
    background: url("../images/swiper_bg.png") no-repeat center center;
    background-size: contain;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background: url("../images/swiper_bg_hower.png") no-repeat center center;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: auto;
    right: 64px;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-pagination {
    bottom: 50px;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 17px !important;
    background: #202020;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    transform: scale(1.1);
    background: #e2211c;
  }
}

.e-home-wrap {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 0 185px 0;
  background: url("../images/home_wrap_bg.png") no-repeat center bottom;
  background-size: 100% auto;
  z-index: 5;
}

.e-home-seo {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -60px;
  padding: 30px 0;
  background: #202020;
  .container,
  .row,
  .col-xl-6 {
    position: relative;
  }
  &_page {
    margin-top: 0;
    padding: 15px 0;
    background: #141414;
    .e-home-seo__image {
      position: absolute;
      right: -30px;
      bottom: 50px;
      z-index: 5;
      pointer-events: none;
    }
  }
  &__image {
    display: block;
    margin: 0 auto;
  }
  &_hide {
    max-height: 243px;
    overflow: hidden;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 60px 0;
    font-size: 16px;
    p {
      display: block;
      margin: 0 0 35px 0;
      font-weight: 300;
      font-size: 16px;
      line-height: 27px;
      color: #e5e5e5;
    }
    a {
      color: #e2211c;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e2211c;
        text-decoration: none;
      }
    }
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 44px 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;
    text-transform: uppercase;
    color: #ffffff;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -7px;
      background: #c4c4c4;
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 224px;
      height: 4px;
      left: 0;
      bottom: -10px;
      background: #ffffff;
      z-index: 2;
    }
  }
}

.e-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 150px 0;
  background: #2d2d2d;
  &__logo {
    display: block;
    img,
    svg {
      display: block;
      max-width: 100%;
    }
    &-text {
      display: block;
      margin: 0;
      font-weight: 550;
      font-size: 9px;
      line-height: 18px;
      text-transform: uppercase;
      color: #ffffff;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e2211c;
      text-decoration: none;
    }
  }
  &__link {
    display: block;
    margin: 20px 0 0 0;
    font-size: 14px;
    line-height: 16px;
    color: #e2211c;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e2211c;
      text-decoration: none;
    }
  }
  &__creators {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: #c4c4c4;
    img,
    svg {
      display: block;
      max-width: 32px;
      max-height: 32px;
      margin-bottom: 5px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e2211c;
      text-decoration: none;
    }
  }
  &__subtitle {
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 16px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e2211c;
      text-decoration: none;
    }
  }
  &__nav {
    display: block;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 20px 0 0 0;
        font-weight: 300;
        font-size: 15px;
        line-height: 16px;
        color: #c4c4c4;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #e2211c;
          text-decoration: none;
        }
      }
    }
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
    padding-top: 0;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin: 0 10px 10px 0;
      background: url("../images/icon_social_bg.png") no-repeat center center;
      background-size: contain;
      img,
      svg {
        display: block;
        max-width: 25px;
        max-height: 25px;
      }
      &:last-child {
        margin-right: 0;
      }
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(0.9);
        text-decoration: none;
      }
    }
  }
  &__title {
    display: block;
    margin: 20px 0 4px 0;
    font-weight: 300;
    font-size: 10px;
    line-height: 16px;
    color: #c4c4c4;
  }
  &__info {
    display: block;
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: #c4c4c4;
    a {
      color: #c4c4c4;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e2211c;
        text-decoration: none;
      }
    }
  }
  &__phone {
    display: block;
    margin: 0;
    font-size: 19px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #c4c4c4;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e2211c;
      text-decoration: none;
    }
  }
}

.e-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4);
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 30px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 30px 0;
    padding: 60px;
    background-color: #ffffff;
  }
  &__title {
    display: block;
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    text-transform: uppercase;
    color: #202020;
  }
  &__text {
    display: block;
    margin: 0 0 20px 0;
    font-size: 18px;
    line-height: 25px;
    color: rgba(32, 32, 32, 0.8);
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 20px 17px 8px 20px;
    background: #f8f8f8;
    border: 1px solid #202020;
    font-size: 16px;
    line-height: 28px;
    color: #202020;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px 0 0 0;
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 19px 80px;
    border: 0;
    outline: none;
    background: #e2211c;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #930400;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 11px;
    line-height: 15px;
    color: rgba(84, 86, 90, 0.4);
  }
}

.e-news {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 140px 0;
  background: url("../images/news_bg.svg") no-repeat center top -150px;
  background-size: cover;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 80px 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;
    text-transform: uppercase;
    color: #202020;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -7px;
      background: #202020;
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 224px;
      height: 4px;
      left: 0;
      bottom: -10px;
      background: #202020;
      z-index: 2;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto 60px auto;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      background-position: center center;
      background-size: cover;
      transition: all 0.2s ease-out;
    }
    &__content {
      display: block;
      position: relative;
      width: 100%;
      height: 220px;
      padding: 126px 20px 20px 95px;
      background: url("../images/news_card_bg.png") no-repeat 0 0;
      background-size: contain;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: transparent;
      transition: all 0.2s ease-out;
    }
    &__title {
      display: block;
      margin: 24px 0 12px 0;
      font-weight: 500;
      font-size: 21px;
      line-height: 28px;
      color: #202020;
      transition: all 0.2s ease-out;
    }
    &__text {
      display: block;
      margin: 0;
      font-size: 16px;
      line-height: 24px;
      color: rgba(32, 32, 32, 0.8);
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .e-news-card__title {
        color: #e2211c;
      }
      .e-news-card__content {
        background: rgba(226, 33, 28, 0.7) url("../images/home_features_bg.png") no-repeat left 20px top 15px !important;
        color: #ffffff;
      }
      text-decoration: none;
    }
  }
}

.e-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 36px 0 0 0;
  border-top: 1px solid #202020;
  list-style: none;
  li {
    display: inline-block;
    a {
      display: inline-block;
      margin: 0 12px 0 0;
      font-size: 24px;
      line-height: 24px;
      color: rgba(32, 32, 32, 0.8);
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e2211c;
        text-decoration: none;
      }
    }
    img,
    svg {
      display: block;
      max-width: 20px;
      max-height: 20px;
      margin-bottom: -1px;
    }
  }
  &_active {
    a {
      font-size: 32px !important;
      font-weight: 700 !important;
    }
  }
}

.e-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 12px 0 32px 0;
  list-style: none;
  z-index: 8;
  li {
    display: inline-block;
    position: relative;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #54565a;
    span {
      display: block;
      position: relative;
      width: 5px;
      height: 5px;
      margin: -1px 6px 0 6px;
      border-radius: 999rem;
      background: #e2211c;
    }
    a {
      position: relative;
      color: #54565a;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e2211c;
        text-decoration: none;
      }
    }
  }
}

.e-header__mob {
  display: none;
}

.e-items {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 70px 0;
  background: url("../images/items_bg.png") no-repeat center top 40px;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 55px 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;
    text-transform: uppercase;
    color: #202020;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -7px;
      background: #202020;
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 224px;
      height: 4px;
      left: 0;
      bottom: -10px;
      background: #202020;
      z-index: 2;
    }
  }
  &__subtitle {
    display: block;
    position: relative;
    margin: 20px 0 13px 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 70px;
    text-transform: uppercase;
    color: #202020;
  }
  &-item {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto 30px auto;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      min-height: 250px;
      padding: 40px 35px;
      background: rgba(0, 0, 0, 0.4);
      font-weight: bold;
      font-size: 40px;
      line-height: 45px;
      text-transform: uppercase;
      color: #ffffff;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .e-items-item__content {
        background: rgba(226, 33, 28, 0.7) url("../images/home_features_bg.png") no-repeat left 15px bottom !important;
      }
      text-decoration: none;
    }
  }
  &-card {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto 30px auto;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: #ffffff;
    &__image {
      display: block;
      position: relative;
      flex: 1 1 240px;
      height: 100%;
      min-height: 190px;
      background-position: center center;
      background-size: cover;
      transition: all 0.2s ease-out;
    }
    &__content {
      display: flex;
      align-items: center;
      flex: 1 1 330px;
      position: relative;
      height: 100%;
      min-height: 190px;
      padding: 20px 40px;
      font-weight: 400;
      font-size: 21px;
      line-height: 28px;
      color: #141414;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .e-items-card__content {
        background: #009933 url("../images/items_card_bg.png") no-repeat right 15px top -5px;
        color: #ffffff;
      }
      border-color: #009933;
      text-decoration: none;
    }
  }
}

.e-about {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 40px 0;
  background: url("../images/about_svg_bg.svg") no-repeat center top -130px;
  background-size: cover;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 80px 0;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    &__title {
      display: block;
      position: relative;
      margin: 0 0 43px 0;
      font-size: 21px;
      line-height: 28px;
      color: #202020;
      b,
      strong {
        font-weight: bold;
        font-size: 30px;
        line-height: 1.2;
        text-transform: uppercase;
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        bottom: -20px;
        width: 100%;
        height: 1px;
        background: #202020;
      }
    }
    &__content {
      display: block;
      position: relative;
      p {
        display: block;
        margin: 0;
        font-size: 18px;
        line-height: 27px;
        color: #202020;
      }
    }
  }
}

.e-gallery {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    max-width: 830px;
    overflow: visible !important;
    margin: 0 auto;
  }
  &-card {
    display: block;
    width: 100%;
    max-width: 830px;
    margin-top: 55px;
    filter: brightness(0.5);
    &__image {
      display: block;
      width: 100%;
      height: 350px;
      margin: 0;
      background-position: center center;
      background-size: cover;
      transition: all 0.2s ease-out;
    }
    &__caption {
      display: block;
      margin: 25px 0 0 0;
      font-size: 21px;
      line-height: 28px;
      color: #202020;
      text-align: center;
      opacity: 0;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e2211c;
      text-decoration: none;
    }
  }
  .swiper-slide-active {
    .e-gallery-card {
      margin-top: 0;
      filter: none;
      &__image {
        height: 460px;
      }
      &__caption {
        opacity: 1;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 215px;
    width: 76px;
    height: 76px;
    background: url("../images/swiper_bg.png") no-repeat center center;
    background-size: contain;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background: url("../images/swiper_bg_hower.png") no-repeat center center;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: -90px;
  }
  .swiper-button-next {
    right: -90px;
  }
}

.e-item {
  display: block;
  position: relative;
  margin-top: -60px;
  padding: 60px 0;
  background: url("../images/item_big.jpg") no-repeat center center;
  background-size: cover;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 580px;
    height: 580px;
    background: url("../images/item_previews_bg.png") no-repeat center center;
    background-size: contain;
    img,
    svg {
      display: block;
      max-width: 470px;
      max-height: 470px;
    }
  }
  &__title {
    display: block;
    margin: 0;
    font-weight: bold;
    font-size: 45px;
    line-height: 65px;
    text-transform: uppercase;
    color: #141414;
  }
  &__price {
    display: block;
    margin: 0;
    line-height: 65px;
    font-weight: bold;
    font-size: 34px;
    text-transform: uppercase;
    color: #e2211c;
  }
  &__info {
    display: block;
    margin: 14px 0 38px 0;
    font-size: 25px;
    line-height: 30px;
    color: #141414;
  }
  &__button {
    display: inline-block;
    padding: 19px 68px;
    background: #e2211c;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #930400;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__subinfo {
    display: block;
    margin: 0 0 50px 0;
    font-size: 18px;
    line-height: 24px;
    color: rgba(32, 32, 32, 0.8);
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 60px 0;
    background: url("../images/item_svg_bg.svg") no-repeat center top 110px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      position: relative;
      margin: 0 0 20px 0;
      font-weight: bold;
      text-transform: uppercase;
      color: #202020;
    }
    h1 {
      font-size: 45px;
    }
    h2 {
      margin-bottom: 40px;
      font-size: 40px;
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -7px;
        background: #202020;
        z-index: 2;
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        width: 224px;
        height: 4px;
        left: 0;
        bottom: -10px;
        background: #202020;
        z-index: 2;
      }
    }
    h3 {
      font-size: 25px;
    }
    h4 {
      font-size: 20px;
    }
    h5 {
      font-size: 16px;
    }
    h6 {
      font-size: 12px;
    }
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    p {
      display: block;
      position: relative;
      margin: 0 0 40px 0;
      font-size: 18px;
      line-height: 27px;
      color: #202020;
    }
    hr {
      margin: 40px 0;
      border-color: #202020;
    }
    a {
      color: #e2211c;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e2211c;
        text-decoration: none;
      }
    }
    blockquote {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 auto 50px auto;
      padding: 50px 50px 50px 80px;
      background: url("../images/blockquote_bg.png") no-repeat center center;
      background-size: cover;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: 50px;
        top: 50px;
        width: 3px;
        height: calc(100% - 100px);
        background: #ffffff;
      }
    }
    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        padding: 0 0 0 60px;
        background: url("../images/icon_ul.png") no-repeat 15px 6px;
        font-size: 18px;
        line-height: 34px;
        color: #202020;
      }
    }
    .table td,
    .table th {
      padding: 15px 20px;
      font-size: 16px;
      color: #202020;
    }
    .table-bordered td,
    .table-bordered th {
      border-color: #e2211c;
    }
    .table thead th {
      padding: 70px 20px 15px 20px;
      background: #e2211c;
      font-weight: bold;
      font-size: 21px;
      text-transform: uppercase;
      color: #ffffff;
      &:first-child {
        background: #e2211c url("../images/table_1.png") no-repeat -5px 20px;
      }
      &:last-child {
        background: #e2211c url("../images/table_2.png") no-repeat right -25px top 20px;
      }
    }
  }
}

.e-contacts {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 140px 0;
  background: url("../images/contacts_svg_bg.svg") no-repeat center top -140px;
  &__welcome {
    display: block;
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 70px;
    text-transform: uppercase;
    color: #202020;
  }
  &__subtitle {
    display: block;
    margin: 0 0 11px 0;
    font-size: 15px;
    line-height: 16px;
    color: rgba(32, 32, 32, 0.5);
  }

  &__link {
    display: block;
    margin: 30px 0 0 0;
    color: #e2211c;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e2211c;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #202020;
    a {
      color: #202020;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e2211c;
        text-decoration: none;
      }
    }
    b,
    strong {
      font-weight: 500 !important;
      font-size: 21px !important;
      line-height: 16px;
    }
  }
  &__what {
    display: block;
    position: relative;
    margin: -3px 0 10px 0;
    font-size: 21px;
    line-height: 28px;
    font-weight: 500;
    color: #141414;
  }
  &__wrap {
    display: block;
    position: relative;
    width: 100%;
    margin-top: -1px;
    padding: 20px 0;
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
  }
  &__map {
    display: block;
    position: relative;
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: -70px;
      right: 180px;
      width: 91px;
      height: 91px;
      background: url("../images/map_after.png") no-repeat center center;
      background-size: contain;
      z-index: 3;
      pointer-events: none;
    }
  }
}

#map {
  display: block;
  position: relative;
  width: 100%;
  height: 705px;
}

.e-contacts-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0;
  background: #141414;
  .container {
    position: relative;
  }
  &__image {
    display: block;
    position: absolute;
    left: 0;
    bottom: -50px;
    pointer-events: none;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 11px 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    /* &:before {
      display: block;
      position: absolute;
      content: "";
      top: -20px;
      left: 0;
      width: 225px;
      height: 4px;
      background: #ffffff;
    } */
  }
  &__text {
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    color: #c4c4c4;
  }
  ::placeholder {
    color: #54565a;
  }
  input,
  textarea {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 20px 17px 8px 20px;
    background: rgba(45, 45, 45, 0.4);
    border: 1px solid #ffffff;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 25px 0 0 0;
    input {
      max-width: 280px;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 19px 80px;
    border: 0;
    outline: none;
    background: #ffffff;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #202020;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #930400;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 11px;
    line-height: 15px;
    color: rgba(84, 86, 90, 0.4);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .e-gallery__cards {
    min-height: 515px;
  }
  .e-footer_left {
    padding-left: 40px;
  }
}

@media (max-width: 1199px) {
  .e-home-our__title:before {
    display: none;
    width: 100%;
  }
  .e-home-our-card__title {
    font-size: 30px;
  }
  .e-home-features__title:before {
    display: none;
    width: 100%;
  }
  .e-home-our__title {
    line-height: 1.2;
    font-size: 32px;
  }
  .e-header__info {
    display: none;
    width: 100%;
    margin: 0 0 12px 0;
  }
  .e-header__phone {
    display: none;
    width: 100%;
    margin: 0 0 12px 0;
  }
  .e-header__link {
    display: none;
    width: 100%;
    margin: 0;
  }
  .e-header__nav {
    display: none;
  }
  .e-header__nav li {
    width: 100%;
  }
  .e-header__nav li a {
    width: 100%;
    padding: 12px;
    text-align: center;
  }
  .e-header {
    padding: 10px 0;
  }
  .e-modal__content {
    padding: 60px 20px 20px 20px;
  }
  .e-modal__button {
    width: 100%;
  }
  .e-modal__info {
    width: 100%;
    margin: 10px 0 0 0;
    text-align: center;
  }
  .e-header__logo-text {
    display: none;
  }
  .e-header__mob {
    display: block;
    position: absolute;
    top: 25px;
    right: 15px;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e2211c;
      text-decoration: none;
    }
  }
  .e-home-what {
    margin: 0;
    padding: 30px 0;
    background: #202020;
  }
  .e-home-top {
    padding: 30px 0;
  }
  .e-home-top-card img,
  .e-home-top-card svg {
    display: none;
  }
  .e-home-features__title {
    line-height: 1.2;
    font-size: 32px;
  }
  .e-home-features-card__content {
    padding: 20px;
    font-size: 18px;
  }
  .e-home-our {
    margin: 0;
    padding: 30px 0;
    background: #ffffff;
  }
  .e-home-our-card__content {
    min-height: 400px;
  }
  .e-home-wrap {
    padding: 0;
  }
  .e-home-seo {
    margin: 0;
  }
  .e-home-what-card {
    margin: 0 0 20px 0 !important;
  }
  .e-home-features {
    padding-top: 20px;
  }
  .e-home-reviews__title:before {
    display: none;
  }
  .e-home-papers__title:before {
    display: none;
  }
  .e-home-top-card__title {
    max-height: 168px;
    font-size: 28px;
    line-height: 1.2;
  }
  .e-home-company__title {
    font-size: 32px;
    line-height: 1.2;
  }
  .e-home-why-card__image {
    max-width: 70px;
  }
  .e-home-why {
    padding: 20px 0;
  }
  .e-home-why-card {
    margin: 0 0 30px 0;
  }
  .e-home-about-card__content {
    height: 350px;
  }
  .e-home-about__title {
    margin-top: 20px;
  }
  .e-home-form {
    padding: 60px 0 30px 0;
    background: #202020;
    &__image {
      display: none;
    }
  }
  .e-home-form__button {
    width: 100%;
  }
  .e-home-form__info {
    width: 100%;
    margin: 10px 0 0 0;
    text-align: center;
  }
  .e-home-company {
    padding: 30px 0;
  }
  .e-home-company-card {
    margin-top: 30px;
  }
  .e-home-reviews {
    padding-top: 30px;
  }
  .e-home-reviews__title {
    font-size: 32px;
    line-height: 1.2;
  }
  .e-home-papers__title {
    font-size: 32px;
    line-height: 1.2;
  }
  .e-home-reviews-card {
    margin: 0 auto;
  }
  .e-home-papers-card {
    margin: 0 auto;
  }
  .e-home-reviews .swiper-pagination {
    bottom: 71px;
  }
  .e-home-papers {
    padding-bottom: 20px;
  }
  .e-home-papers .swiper-pagination {
    bottom: 71px;
  }
  .e-home-reviews .swiper-pagination-bullet {
    margin: 0 5px !important;
  }
  .e-home-papers .swiper-pagination-bullet {
    margin: 0 5px !important;
  }
  .e-home-seo__content {
    padding: 20px 0;
  }
  .e-footer {
    padding: 30px 0;
  }
  .e-footer__creators {
    margin-top: 20px;
  }
  .e-footer__subtitle {
    margin-top: 40px;
  }
  .e-footer__social {
    padding-top: 40px;
  }
  .e-news__title {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 1.2;
  }
  .e-news-card {
    margin-bottom: 30px;
  }
  .e-news {
    padding-bottom: 40px;
  }
  .e-items__title {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 1.2;
  }
  .e-items-item__content {
    padding: 20px;
    font-size: 24px;
  }
  .e-items__subtitle {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 1.2;
  }
  .e-items-card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  .e-items-card__image {
    flex: 1 1 200px;
  }
  .e-items-card__content {
    flex: 1 1 200px;
    padding: 20px;
  }
  .e-items {
    padding-bottom: 20px;
  }
  .e-about-card {
    margin-bottom: 30px;
  }
  .e-about-card__title b,
  .e-about-card__title strong {
    font-size: 28px;
  }
  .e-about-card img,
  .e-about-card svg {
    margin: 0 auto 20px auto;
  }
  .e-gallery .swiper-slide-active .e-gallery-card__image {
    height: 350px;
  }
  .e-home-papers__title {
    margin-bottom: 40px;
  }
  .e-gallery__cards {
    min-height: 460px;
  }
  .e-home-papers {
    padding-top: 20px;
  }
  .e-item__image img,
  .e-item__image svg {
    position: relative;
    max-width: 200px;
    max-height: 200px;
  }
  .e-item__image {
    height: 300px;
    margin: 20px auto;
  }
  .e-item__title {
    font-size: 36px;
    line-height: 1.2;
  }
  .e-item__content h2 {
    font-size: 32px;
  }
  .e-item__content blockquote {
    padding: 50px 20px 50px 50px;
  }
  .e-item__content blockquote:before {
    left: 22px;
  }
  .e-item__content img,
  .e-item__content svg {
    margin: 0 auto 20px auto;
  }
  .e-item__content .table thead th {
    padding-top: 15px;
  }
  .e-contacts-form__image {
    display: none;
  }
  .e-contacts-form__row input {
    max-width: 100%;
    &:first-child {
      margin-right: 0;
    }
  }
  .e-contacts-form__button {
    width: 100%;
  }
  .e-contacts-form__info {
    width: 100%;
    margin: 10px 0 0 0;
    text-align: center;
  }
  .e-contacts {
    padding-bottom: 15px;
    br {
      display: none;
    }
  }
  .e-contacts__welcome {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 1.2;
  }
  .e-contacts__link {
    margin: 20px 0 30px 0;
  }
  .e-contacts__subtitle {
    margin-bottom: 5px;
  }
  .e-contacts__info {
    margin-bottom: 20px;
  }
  #map {
    height: 350px;
  }
  .e-gallery-card__image {
    height: 240px;
  }
  .e-gallery .swiper-button-prev {
    left: 0;
    top: 170px;
  }
  .e-gallery .swiper-button-next {
    right: 0;
    top: 170px;
  }
  .e-header__nav_active > a:after {
    display: none;
  }
  .e-header__nav li:hover > ul {
    display: none;
  }
}
